#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  bigcapital-server.service
BindsTo=bigcapital.service
After=bigcapital.service redis-app.service mariadb-app.service mongo-app.service gotenberg-app.service bigcapital-migrations.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
EnvironmentFile=-%S/state/app.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/bigcapital-server.pid %t/bigcapital-server.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/bigcapital-server.pid \
    --cidfile %t/bigcapital-server.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/bigcapital.pod-id --replace -d --name  bigcapital-server \
    --env-file=%S/state/app.env \
    ${SERVER_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/bigcapital-server.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP bigcapital-server
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/bigcapital-server.ctr-id
PIDFile=%t/bigcapital-server.pid
Type=forking

[Install]
WantedBy=default.target
