#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a bigcapital instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#

[Unit]
Description=Podman bigcapital.service
Requires=redis-app.service mongo-app.service mariadb-app.service bigcapital-server.service bigcapital-migrations.service bigcapital-webapp.service
Before=redis-app.service mongo-app.service mariadb-app.service bigcapital-server.service bigcapital-migrations.service bigcapital-webapp.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/bigcapital.pid %t/bigcapital.pod-id
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/bigcapital.pid \
    --pod-id-file %t/bigcapital.pod-id \
    --name bigcapital \
    --publish 127.0.0.1:${TCP_PORT}:80 \
    --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/bigcapital.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/bigcapital.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/bigcapital.pod-id
PIDFile=%t/bigcapital.pid
Type=forking

[Install]
WantedBy=default.target
