#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  envoyproxy.service
BindsTo=bigcapital.service
After=redis-app.service mongo-app.service mariadb-app.service bigcapital-server.service bigcapital-webapp.service bigcapital-migrations.service gotenberg-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/envoyproxy.pid %t/envoyproxy.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/envoyproxy.pid \
    --cidfile %t/envoyproxy.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/bigcapital.pod-id --replace -d --name  envoyproxy \
    --volume envoy/envoy.yaml:/etc/envoy/envoy.yaml:Z \
    ${ENVOY_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/envoyproxy.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP envoyproxy
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/envoyproxy.ctr-id
PIDFile=%t/envoyproxy.pid
Type=forking

[Install]
WantedBy=default.target
