#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman gotenberg-app.service
BindsTo=bigcapital.service
After=redis-app.service mongo-app.service mariadb-app.service bigcapital-server.service bigcapital-webapp.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
EnvironmentFile=-%S/state/app.env
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/gotenberg-app.pid %t/gotenberg-app.ctr-id
ExecStartPre=/usr/local/bin/runagent discover-smarthost
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/gotenberg-app.pid \
    --pod-id-file=%t/bigcapital.pod-id \
    --cidfile=%t/gotenberg-app.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    ${GOTENBERG_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/gotenberg-app.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/gotenberg-app.ctr-id
PIDFile=%t/gotenberg-app.pid
Type=forking

[Install]
WantedBy=default.target

[Install]
WantedBy=default.target
