#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman gotenberg-app.service
BindsTo=bigcapital.service
After=redis-app.service mongo-app.service mariadb-app.service bigcapital-migrations.service bigcapital-server.service bigcapital-webapp.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
EnvironmentFile=-%S/state/app.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/gotenberg-app.pid %t/gotenberg-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/gotenberg-app.pid \
    --cidfile %t/gotenberg-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/bigcapital.pod-id --replace -d --name  gotenberg-app \
    --env-file=%S/state/app.env \
    ${GOTENBERG_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/gotenberg-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP gotenberg-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/gotenberg-app.ctr-id
PIDFile=%t/gotenberg-app.pid
Type=forking

[Install]
WantedBy=default.target

[Install]
WantedBy=default.target
